<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a routerLink="/accelerometer" class="rk-item ae-masonry__item">
          <img src="assets/img/accelerometer.png" alt="">
          <div class="item-meta">
            <h2>Acelerómetro</h2>
            <p>Comprueba la inclinación</p>
          </div>
        </a>
        <a routerLink="/rotation" class="rk-item ae-masonry__item">
          <img src="assets/img/rotation.png" alt="">
          <div class="item-meta">
            <h2>Rotación</h2>
            <p>Ayuda a determinar inclinación</p>
          </div>
        </a>
        <a routerLink="/magnetometer" class="rk-item ae-masonry__item">
          <img src="assets/img/magnetometer.png" alt="">
          <div class="item-meta">
            <h2>Magnetómetro</h2>
            <p>Hacia donde mira</p>
          </div>
        </a>
        <a routerLink="/gyroscope" class="rk-item ae-masonry__item">
          <img src="assets/img/gyroscope.png" alt="">
          <div class="item-meta">
            <h2>Giroscopio</h2>
            <p>Aceleración y movimiento</p>
          </div>
        </a>
        <a routerLink="/light" class="rk-item ae-masonry__item">
          <img src="assets/img/light.png" alt="">
          <div class="item-meta">
            <h2>Luminosidad</h2>
            <p>Luz ambiental</p>
          </div>
        </a>
        <a routerLink="/battery" class="rk-item ae-masonry__item">
          <img src="assets/img/battery.png" alt="">
          <div class="item-meta">
            <h2>Batería</h2>
            <p>Consumo y salud</p>
          </div>
        </a>
      </div>
    </section>
  </section>